<% wines.each(function (wine) { %>
  <tr>

    <td class="wine-mini-img">
      <img src="<%= wine.escape('img_url_thumb') %>" alt="" />
    </td>

    <td class="wine-mini-deets">
      <ul>
        <li>Name: <%= wine.escape('name') %></li>
        <li>Maker: <%= wine.escape('maker') %></li>
        <li>Type: <%= wine.escape('wine_type') %></li>
        <li>Varietal: <%= wine.escape('varietal') %></li>
      </ul>
    </td>

    <td class="wine-mini-actions">
      Buttons will go here<br/>
      *****
    </td>

  </tr>
<%  }); %>
