<% wines.each(function (wine) { %>
  <div class="wine-mini col-md-12 row" data-wine-id="<%= wine.id %>">

    <div class="wine-mini-img  col-md-2 col-xs-6">
      <a href="#/wines/<%= wine.id %>" data-wine-id="<%= wine.id %>" class="clickable">
        <img src="<%= wine.escape('img_url_thumb') %>" alt="" />
      </a>
    </div>

    <div class="wine-mini-deets  col-md-6 col-xs-6">
      <a href="#/wines/<%= wine.id %>" class="clickable" data-wine-id="<%= wine.id %>">
        <ul>
          <li>Name: <%= wine.escape('name') %></li>
          <li>Maker: <%= wine.escape('maker') %></li>
          <li>Type: <%= wine.escape('wine_type') %></li>
          <li>Varietal: <%= wine.escape('varietal') %></li>
        </ul>
      </a>
    </div>

    <div class="wine-mini-actions  col-md-4 col-xs-12" data-wine-id="<%= wine.id %>">
      Buttons will go here - Cellar Phase<br/>
      ***** - Review Phase
    </div>

  </div>
<%  }); %>
