<div class='wine-detail-subview'>
  <table>
    <tr>

      <td class="wine-img">
        <img src="<%= wine.escape('img_url_thumb') %>" alt="" />
        <button type="button" name="button">Add to Cellar</button><br/> - Cellar Phase

      </td>

      <td class="wine-mini-deets">
        <ul class="list-unstyled">
          <li><h2><%= wine.escape('name') %></h2></li>
          <li><b>By:</b> <%= wine.escape('maker') %></li>
          <li><b>Description:</b> <%= wine.escape('description') %></li>
          <li><b>Type:</b> <%= wine.escape('wine_type') %></li>
          <li><b>Varietal:</b> <%= wine.escape('varietal') %></li>
          <% if (wine.get('grown')) { %>
            <li><b>Grown:</b> <%= wine.escape('grown') %></li>
          <% } %>
          <% if (wine.get('vintage')) { %>
            <li><b>Vintage:</b> <%= wine.escape('vintage') %></li>
          <% } %>
        </ul>
      </td>

    </tr>
  </table>
</div>

<div class="review-subview"></div>
