<div class='wine-detail-subview'>
  <table>
    <tr>

      <td class="wine-img">
        <img src="<%= wine.escape('img_url_thumb') %>" alt="" />
        Buttons will go here - Cellar Phase
      </td>

      <td class="wine-mini-deets">
        <ul>
          <li><b>Name:</b> <%= wine.escape('name') %></li>
          <li><b>Maker:</b> <%= wine.escape('maker') %></li>
          <li><b>Description:</b> <%= wine.escape('description') %></li>
          <li><b>Type:</b> <%= wine.escape('wine_type') %></li>
          <li><b>Varietal:</b> <%= wine.escape('varietal') %></li>
          * Add wine.grown and wine.vintage, if available *
        </ul>
      </td>

    </tr>
  </table>
</div>

<div class="review-subview">
  <div id="reviews">
  </div>

  <div id="review-form">
  </div>
</div>
